.imagem {
    width: 600px;
    height: 500px;
    cursor: pointer;
}
.imagemPilotos {
    width: 400px;
    height: 400px;
    cursor: pointer;
}
.imgPerfil{
    width: 200px;
    height: 200px;
}
.imagemMultimedia{
    width: 800px;
    height: 600px;
}
.driverDetails{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.pop_up{
    margin: auto;
}