body {
    background-color: grey;
    margin: 0px;
}

.imagem{
    width: 400px;
    height: 370px;
    object-fit: cover;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.divSec{
    width:400px;
    height:500px;
    border-style: solid;
    border-width: 1px;
    background-color: cyan;
    border-color: black;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.drivers{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:space-around;
}

.imagemPilotos{
    width: 300px;
    height: 300px;
}

.piloto {
    width: 400px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    background-color: cyan;
    border-color: black;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.divInfComplex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imgPerfil{
    width: 200px;
    height: 200px;
}

.topBar{
    position: fixed;
}

.imagemMultimedia{
    width: 200px;
    height:200px;
}

.divImagensMultimedia{
    position:absolute;
}